<form [formGroup]="menuForm" class="menu-form">
    <!--Title-->
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        {{'MENU.TITLE_CREATE_MENU' | translate}}
    </div>
    <!--Name and Restaurant-->
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <mat-form-field appearance="standard">
            <mat-label>
                {{'MENU.LABEL_NAME' | translate}}
            </mat-label>
            <input matInput id="name" type="text" formControlName="name">
            <mat-error *ngIf="menuForm.controls['name'].hasError('required')">
                {{'MENU.MSG_INPUT_NAME' | translate}} <strong>{{'GLOBAL_WORD.WORD_REQUERID_MASCULINE' |
                    translate}}</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>{{'MENU.LABEL_RESTAURANT' | translate}}</mat-label>
            <input type="text" matInput formControlName="restaurant" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="menuForm.controls['restaurant'].hasError('required')">
                {{'MENU.MSG_INPUT_RESTAURANT' | translate}} <strong>{{'GLOBAL_WORD.WORD_REQUERID_MASCULINE' |
                    translate}}</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <!--Description-->
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <mat-form-field class="input-full-width" appearance="standard">
            <mat-label>{{'MENU.LABEL_DESCRIPTION' | translate}}</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="menuForm.controls['description'].hasError('required')">
                {{'MENU.LABEL_DESCRIPTION' | translate}} <strong>{{'GLOBAL_WORD.WORD_REQUERID_MASCULINE' |
                    translate}}</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <!--Btns-->
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <div>
            <button (click)="onNoClick();" mat-icon-button matTooltip="{{'GLOBAL_WORD.WORD_CLOSE' | translate}}" matTooltipPosition="left">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div>
            <button class="button-general-save" (click)="onSubmit()" type="submit" [disabled]="!menuForm.valid"
                mat-icon-button matTooltip="{{'GLOBAL_WORD.WORD_SAVE' | translate}}" matTooltipPosition="after">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>
</form>