.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#img-not-found {
    filter: invert(20%) sepia(53%) saturate(2344%) hue-rotate(342deg) brightness(118%) contrast(119%);
    width: 25em;
}