<div class="views" *ngIf="!isLoaderMenu">
    <!--Title-->
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <h1 class="title-general">{{'DASHBOARD.TITLE_PAGE_MENU' | translate}}</h1>
    </div>

    <!--Table-->
    <div class="table-general" [hidden]="menus.length == 0">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <mat-form-field appearance="standard">
                <mat-label> {{'DASHBOARD.FILTER_MENU' | translate}} </mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- NAME Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'RESTAURANT.LABEL_NAME' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'GLOBAL_WORD.OPTIONS' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="openDialogDetailMenu(row)" matTooltip="{{'DASHBOARD.MORE_DETAIL_MENU' | translate}}" matTooltipPosition="left">
                            <mat-icon>aspect_ratio</mat-icon>
                        </button>
                        <button mat-icon-button class="button-general-save" (click)="addShoppingCar(row)" matTooltip="{{'DASHBOARD.ADD_MENU_SHOP' | translate}}" matTooltipPosition="right">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">{{'DASHBOARD.FILTER_NO_DATA' |
                        translate}} "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>

    <!--Info no data-->
    <div [hidden]="menus.length > 0">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            {{'DASHBOARD.NO_DATA' | translate}}
        </div>
    </div>
</div>