/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #fafafa;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*CSS BUTTONS*/
.button-general {
    background-color: #dd0000;
    color: #fdfdfd;
}

.button-general:disabled {
    background-color: #fdfdfd;
}

.button-general-save {
    color: #dd0000;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #dd0000;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.radio-button {
    margin: 5px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #dd0000 !important;
}

/*TITLES*/
.title-general {
    font-weight: bolder !important;
    margin-top: 2% !important;
}

/*TABLES*/
.table-general {
    margin-left: 1%;
    margin-right: 1%;
}

/*TEXT*/
.text-general {
    font-weight: bolder !important;
}